In [9]:
import os
import psutil
import numpy as np
import pandas as pd

import sys
sys.path.append("..")

import warnings
warnings.filterwarnings("ignore")

import librosa
import IPython.display as ipd

In [39]:
# data경로 확보
full_path  = os.getcwd()
upper_path = os.path.dirname(full_path)
data_path  = os.path.join(upper_path, 'data')

# csv파일 경로 확보
train_path  = os.path.join(data_path, 'train.csv')
test_path   = os.path.join(data_path, 'test.csv')
sample_path = os.path.join(data_path, 'sample_submission.csv')

In [40]:
train  = pd.read_csv(train_path)
test   = pd.read_csv(test_path)
sample_submission = pd.read_csv(sample_path)

In [41]:
print('train개수 : ',len(train))
print('test개수 : ',len(test))
print(train['label'].value_counts())

train개수 :  5000
test개수 :  2690
label
0    3734
1    1266
Name: count, dtype: int64

In [46]:
train

                  id                    path  label
0     TRAIN_0000.ogg  ./TRAIN/TRAIN_0000.ogg      0
1     TRAIN_0001.ogg  ./TRAIN/TRAIN_0001.ogg      1
2     TRAIN_0002.ogg  ./TRAIN/TRAIN_0002.ogg      0
3     TRAIN_0003.ogg  ./TRAIN/TRAIN_0003.ogg      0
4     TRAIN_0004.ogg  ./TRAIN/TRAIN_0004.ogg      1
...              ...                     ...    ...
4995  TRAIN_4995.ogg  ./TRAIN/TRAIN_4995.ogg      0
4996  TRAIN_4996.ogg  ./TRAIN/TRAIN_4996.ogg      0
4997  TRAIN_4997.ogg  ./TRAIN/TRAIN_4997.ogg      0
4998  TRAIN_4998.ogg  ./TRAIN/TRAIN_4998.ogg      0
4999  TRAIN_4999.ogg  ./TRAIN/TRAIN_4999.ogg      0

[5000 rows x 3 columns]